PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/taekwondo?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRE=30d

# CORS settings - Add your frontend URL here
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://your-production-frontend-url.com

# Frontend URL for reset password links
FRONTEND_URL=http://localhost:3000

# Email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
FROM_EMAIL=your-email@gmail.com
FROM_NAME=Maharashtra Taekwondo Federation 